<!doctype html>
<html lang="en">

<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: nav-auth"></nav>

<div class="grid-container">

    <div th:replace="layout :: home"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <div class="grid-50">
                    <h2 th:text="${recipe.name}">Recipe name</h2>
                    <a th:href="@{|/users/${recipe.author.id}|}"><h3
                            th:text="|by ${recipe.author.name}|">Author</h3></a>
                </div>
                <div class="grid-50">
                    <h2 class="flush-right">
                        <form th:replace="layout :: favorite"></form>
                    </h2>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Photo </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p>
                        <img th:src="@{'/recipes/'+${recipe.id}+'/image'}" height="256"
                             width="256"/>
                    </p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Name </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p th:text="${recipe.name}">Name</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Description </label>
                    </p>
                </div>
                <div class="grid-40">
                    <p th:text="${recipe.description}">Description</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Category </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p th:text="${recipe.category}">Category</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Prep Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p th:text="${recipe.preparationTime + ' minutes'}">Preparation Time</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Cook Time </label>
                    </p>
                </div>
                <div class="grid-20">
                    <p th:text="${recipe.cookingTime +' minutes'}">Cook Time</p>
                </div>
            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Ingredients </label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Item <label>
                    </p>
                </div>
                <div class="grid-30">
                    <p>
                        <label> Condition <label>
                    </p>
                </div>
                <div class="grid-20">
                    <p>
                        <label> Quantity <label>
                    </p>
                </div>

                <div class="ingredient-row" th:each="ingredient : ${recipe.ingredients}">
                    <div class="prefix-20 grid-25">
                        <p th:text="${ingredient.name}">Name</p>
                    </div>
                    <div class="grid-25">
                        <p th:text="${ingredient.condition}">Condition</p>
                    </div>
                    <div class="grid-20">
                        <p th:text="${ingredient.quantity}">Quantity</p>
                    </div>
                </div>

            </div>
            <div class="clear"></div>

            <div class="grid-100 row">
                <div class="grid-20">
                    <p>
                        <label> Steps </label>
                    </p>
                </div>
                <div class="grid-80">
                    <p>
                        <label> Description <label>
                    </p>
                </div>

                <div class="step-row">
                    <div class="prefix-20 grid-80" th:each="step : ${recipe.steps}">
                        <p th:text="${step.name}">
                            Name
                        </p>
                    </div>
                </div>

            </div>
            <div class="clear"></div>

            <div class="row">&nbsp;</div>

        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->
</body>
</html>
