<!doctype html>
<html lang="en">

<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: nav-auth"></nav>

<div class="grid-container">

    <div th:replace="layout :: home"></div>

    <div class="grid-100">

        <div class="recipes">

            <form th:action="@{${action}}" enctype="multipart/form-data" method="post"
                  th:object="${recipe}">
                <div class="grid-100 row controls">
                    <div class="grid-50">
                        <h2 th:text="${heading}"> Recipe Editor </h2>
                    </div>

                    <div class="grid-50">
                        <div class="flush-right">
                            <input class="button" type="submit" th:value="${submit}"/>
                            <a th:href="@{|/recipes|}" class="secondary">
                                <button class="secondary"><a th:href="@{${redirect}}">Cancel</a>
                                </button>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>

                <input type="hidden" th:field="*{id}"/>
                <input type="hidden" th:if="${recipe.author}" th:field="*{author}"/>
                <input type="hidden" th:field="*{version}"/>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Photo </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p>
                            <img th:if="${recipe.image}"
                                 th:src="@{'/recipes/'+${recipe.id}+'/image'}" height="256"
                                 width="256"/>
                            <input type="file" name="imageFile" id="imageFile"/>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Name </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p>
                            <input type="text" th:field="*{name}"/>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Description </label>
                        </p>
                    </div>
                    <div class="grid-40">
                        <p>
                            <textarea rows="4" th:field="*{description}"></textarea>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Category </label>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p>
                            <select th:field="*{category}">
                                <option value="" disabled="disabled">All Categories</option>
                                <option th:each="cat : ${categories}"
                                        th:value="${cat.name}"
                                        th:text="${cat.name}">All Categories
                                </option>
                            </select>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Prep Time </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p>
                            <input type="number" th:field="*{preparationTime}"/>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Cook Time </label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p>
                            <input type="number" th:field="*{cookingTime}"/>
                        </p>
                    </div>
                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Ingredients </label>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p class="label-spacing">
                            <label> Item <label>
                        </p>
                    </div>
                    <div class="grid-30">
                        <p class="label-spacing">
                            <label> Condition <label>
                        </p>
                    </div>
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Quantity <label>
                        </p>
                    </div>

                    <div class="ingredient-row" th:each="ingredient, stat : *{ingredients}">
                        <input type="hidden" th:field="*{ingredients[__${stat.index}__].id}" />
                        <div class="prefix-20 grid-30">
                            <p>
                                <input type="text" th:field="*{ingredients[__${stat.index}__].name}"/>
                            </p>
                        </div>
                        <div class="grid-30">
                            <p>
                                <input type="text" th:field="*{ingredients[__${stat.index}__].condition}"/>
                            </p>
                        </div>
                        <div class="grid-10 suffix-10">
                            <p>
                                <input type="text" th:field="*{ingredients[__${stat.index}__].quantity}"/>
                            </p>
                        </div>
                    </div>

                    <div id="add-ingredient-row"  class="prefix-20 grid-80 add-row">
                        <p>
                            <button id="add-ingredient" type="button">+ Add Ingredient</button>
                        </p>
                    </div>

                </div>
                <div class="clear"></div>

                <div class="grid-100 row">
                    <div class="grid-20">
                        <p class="label-spacing">
                            <label> Steps </label>
                        </p>
                    </div>
                    <div class="grid-80">
                        <p class="label-spacing">
                            <label> Description <label>
                        </p>
                    </div>

                    <div class="step-row" th:each="step, stat : *{steps}">
                        <input type="hidden" name="id"  th:field="*{steps[__${stat.index}__].id}" />
                        <div class="prefix-20 grid-80">
                            <p>
                                <input type="text" name="stepName" th:field="*{steps[__${stat.index}__].name}"/>
                            </p>
                        </div>
                    </div>

                    <div id="add-step-row" class="prefix-20 grid-80 add-row">
                        <p>
                            <button id="add-step" type="button">+ Add Step</button>
                        </p>
                    </div>

                </div>
                <div class="clear"></div>

                <div class="row">&nbsp;</div>
            </form>

        </div> <!-- recipes -->
    </div> <!-- grid-100 -->
</div> <!-- grid-container -->

<div th:replace="layout :: scripts"></div>

</body>
</html>
