<!doctype html>
<html lang="en">

<head th:replace="layout :: head"></head>

<body>

<nav th:replace="layout :: nav-auth"></nav>

<div class="grid-container">

    <div th:replace="layout :: home"></div>

    <div class="grid-100">

        <div class="recipes">

            <div class="grid-100 row controls">
                <form action="/recipes/search" method="get">

                    <div class="grid-20">
                        <select name="category">
                            <option value="">Categories</option>
                            <option th:each="category: ${categories}"
                                    th:value="${category.name}"
                                    th:text="${category.name}">
                                Category Name
                            </option>
                        </select>
                    </div>

                    <div class="grid-30">
                        <input name="query" placeholder="Search" th:value="${query}"></input>
                    </div>

                    <div class="grid-20">
                        <select name="filter">
                            <option value="">Filter</option>
                            <option th:each="filter: ${filters}"
                                    th:value="${filter}"
                                    th:text="${filter}">
                                Filter Field
                            </option>
                        </select>
                    </div>

                </form>

                <div class="grid-30">
                    <div class="flush-right">
                        <form action="/recipes/create-form">
                            <button>+ Add Recipe</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <div class="clear"></div>

        <div class="grid-100 row addHover" th:each="recipe : ${recipes}">
            <div class="grid-70">
                <p>
                <form th:replace="layout :: favorite"></form>
                <a th:href="@{|/recipes/${recipe.id}|}" th:text="${recipe.name}"></a>
                </p>
            </div>

            <div class=" grid-30 ">
                <div class="flush-right">
                    <p>
                        <a th:href="@{|/recipes/${recipe.id}/edit-form|}">
                            <img th:src="@{/images/edit.svg}" height="12px"/> Edit
                        </a>
                        <form th:action="@{|/recipes/${recipe.id}/delete|}" method="post">
                            <button type="submit">
                                <img th:src="@{/images/delete.svg}" height="12px"/> Delete
                            </button>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>

<div class="row">&nbsp;</div>

</div> <!-- recipes -->
</div> <!-- grid-100 -->
</div> <!-- grid-container -->

<div th:replace="layout :: scripts"></div>

</body>
</html>
